/*
	ctrl
*/
* {
	margin : 0;
	padding : 0;
}
body {
	transform : none;
	background-color : gray;
	background-image : url(ibCenter.JPG);
	background-attachment : fixed;
	background-position : center;
	background-size : auto;
	font-family : Courier;
	overflow : hidden;
}
/*********************************************************************************************************/
#nott {
	position : fixed;
	top : 120px;
	width : 100%;
	height : 100%;
	z-index : 0;
}
/*********************************************************************************************************/
span {
	position : relative;
	font-style : italic;
	/*text-shadow : 5px 1.5px 2px #ff5501;*/
}
span.hidd {
	top : 20px;
	left : 30px;
	color : #82828200;
	opacity : 0;
}
span.onspan {
	top : 0px;
	left : 0px;
	/*text-shadow : 1px 2px 1px black;*/
	opacity : 1;
	color : inherit;
	transition : 0.05s, opacity ease-in 0.18s, left ease-in 0.19s, top ease-in 0.09s;
	/*transition : text-shadow cubic-bezier(0.12, -40, 0.99, -7) 5s, color 0s, opacity ease-in 0.01s;*/
}
span.onspan:hover {
	/*text-shadow : 13px 3px 0.24px #01cc334f;
	transition : text-shadow 0s;*/
}
/*********************************************************************************************************/
.hidd {
	transform : scale(0);
	transition : 0.2s;
}
/*********************************************************************************************************/
#over {
	position : absolute;
	top : 40px;
	left : 13%;
	font-size : 26px;
	font-weight : bold;
	text-shadow : -2px 6px 3px black;
	color : #0af;
}
#gif {
	border-radius : 9px;
	background-image : url(XYMS.gif);
	background-position : center;
	background-size : cover;
	position : absolute;
	width : 600px;
	height : 340px;
	top : 100px;
	left : 150px;
}
/*********************************************************************************************************/
#forTime {
	text-shadow : 2px 2px 1px black;
	position : fixed;
	/*font-style : italic;*/
	color : #dadada;
	font-size : 16px;
	width : 100%;
	height : 20px;
	overflow : hidden;
	z-index : -3;
}
#time {
	position : absolute;
	top : 0;
	z-index : 1;
}
#point {
	position : absolute;
	right : 4px;
	top : 0;
	z-index : 0;
	transition : right ease-in 4s, color 0s;
}
#point.onpoint {
	right : 36px;
	color : yellow;
	transition : color 1s, right 4s;
}
/*********************************************************************************************************/
#len {
	box-shadow : 2px 3px 2px 1px #000000aa;
	border-radius : 5px;
	background-color : #0000009a;
	background-image : url(ibS.JPG);
	background-origin : border-box;
	background-attachment : unset;
	background-position : unset;
	background-size : cover;
	display : flex;
	position : fixed;
	top : 28px;
	left : 4px;
	min-width : 0;
	max-width : 98%;
	padding-right : 20px;
	height : 34px;
	border : 1px solid #5d5d5d;
	overflow : hidden;
	z-index : 1;
}
section {
	top : 0px;
	cursor : pointer;
	position : relative;
	width : 19px;
	height : 30px;
	white-space : pre;
	overflow : hidden;
	border-radius : 4px;
	margin-right : -20px;
	padding : 1px;
	background-color : rgba(0, 0, 0, 0);
	background-size : cover;
	border : 1px solid black;
	font-size : 0px;
}
section.off {
	background-color : rgba(0, 100, 255, 0.4);
	transition : background-color ease-in 2s;
}
section.off:hover {
	background-color : rgba(0, 210, 255, 1);
	transition : 0s;
}
section.on {
	background-color : rgba(0, 255, 0, 1);
	transition : background-color ease-in 0.6s;
}
section.section {
	background-color : rgba(0, 255, 0, 0.6);
	transition : background-color 0s, top 0.5s;
}
section.out {
	top : -34px;
	background-image : url(Buba.jpg);
	transition : 0.5s;
}
section.out:hover {
	transform : scale(1.1);
	transition : 0s;
}
/*********************************************************************************************************/
#lookLen {
	box-shadow : 2px 3px 2px 1px #000000aa;
	border-radius : 5px;
	background-color : #0000009a;
	background-image : url(ibS.JPG);
	background-origin : border-box;
	background-attachment : unset;
	background-position : unset;
	background-size : cover;
	display : flex;
	position : fixed;
	top : 65px;
	left : 4px;
	min-width : 0;
	max-width : 98%;
	padding-right : 20px;
	height : 34px;
	border : 1px solid #5d5d5d;
	overflow : hidden;
	z-index : 2;
}
/*********************************************************************************************************/
#place {
	position : fixed;
	border : 1px inset #696969;
	background-color : rgba(0,0,0,0.5);
	z-index : 7;
	top : 124px;
	left : 200px;
	font-family : Courier;
	font-size : 55px;
	letter-spacing : -2px;
	padding-left : 1px;
	padding-right : 6px;
	border-radius : 9px;
	cursor : default;
	transition : 0s;
}
#place.hidd {
	opacity : 1;
}
#left {
	position : fixed;
	border-radius : 9px;
	z-index : 8;
	top : 124px;
	left : 200px;
}
input#inp {
	font-family : Courier;
	font-size : 55px;
	letter-spacing : -2px;
	padding-left : 1px;
	padding-right : 6px;
	border-radius : 9px;
	background-color : rgba(0,0,0,0.5);
	cursor : default;
	opacity : 0;
	transition : 0s;
}
.wordsInp {
	color : #cbcbcb;
	border : 1px outset #696969;
}
.swInp {
	color : #0399f4;
	border : 1px outset #696969;
}
.wordsInp:focus {
	background : rgba(0,0,0,0.5);
	outline : none;
	border : 1px inset #696969;
	cursor : default;
	opacity: 1;
}
.swInp:focus {
	background : rgba(0,0,0,0.5);
	outline : none;
	border : 1px inset #696969;
	cursor : default;
	opacity: 1;
}
/*********************************************************************************************************/
#right {
	position : fixed;
	background-color : rgba(0,0,0,0.5);
	width : 700px;
	height : 170px;
	top : 210px;
	left : 200px;
	padding : 6px;
	font-size : 26px;
	font-family : monospace;
	/*font-style : italic;*/
	color : #797979;
	border : 1px solid black;
	border-radius : 9px;
	cursor : default;
	z-index : 10;
	transition : 3s;
}
#right.wordsRight {
	color : #aaaaaa;
}
#right.swRight {
	color : #0099ff;
}
/*********************************************************************************************************/
#one {
	display : grid;
	position : fixed;
	width : 100px;
	top : 80px;
	left : -100%;
	z-index : 4;
}
#one.onedone {
	left : 75px;
}
#one.onedone section {
	border-radius : 5px;
	position : relative;
	outline : none;
	transform : scale(1);
	background-color : rgb(130, 130, 130);
	background-image : none;
	color : black;
	cursor : pointer;
	font-weight : bolder;
	padding : 1px;
	width : 100%;
	height : auto;
	font-size : 13px;
	border : 1px outset #555555;
	
}
#one.onedone section:focus {
	box-shadow : 1.5px 2.5px 3px 1px #000000dd;
	transform : scale(1.1);
	z-index : 2;
	transition : 0s;
}
#one section.sw {
	z-index : 0;
	box-shadow : none;
	transition : ease-in 0.1s;
}
#one section.sw:hover {
	background-color : rgb(150, 150, 150);
	transform : scale(1.2);
	box-shadow : 2px 5px 3px 2px #000000aa;
	z-index : 3;
	transition : 0s;
}
#one section.swOff {
	box-shadow : 0.5px 1.5px 2px 0.5px #000000ff;
	background-color : rgb(0, 160, 0);
	transform : scale(1.06);
	transition : ease-in 0.1s;
	z-index : 1;
}
#one section.swMax {
	background-color : rgb(130, 0, 0);
	cursor : alias;
	transition : 0.1s;
}
/*********************************************************************************************************/
button {
	position : fixed;
	background-color : #000000;
	padding : 4px;
	width : 120px;
	box-shadow : none;
	outline-style : none;
	font-weight : bold;
	font-family : Courier;
	font-size : 14px;
	cursor : pointer;
	border-radius : 5px;
	border : 1px outset #646464;
	color : gray;
	transition : ease-in 0.6s;
}
#kart {
	background-image : url(o3h.gif);
	background-position : center;
	background-repeat : no-repeat;
	background-size : cover;
	width : 55px;
	height : 46px;
	top : 250px;
	left : 4px;
}
#kart.Rs4b {
	background-image : url(1.png);
	background-origin : content-box;
	background-blend-mode : luminosity;
	background-size : contain;
}
#kart.Sliz {
	background-image : url(2.png);
	background-origin : content-box;
	background-blend-mode : luminosity;
	background-size : contain;
}
#kart:hover {
	box-shadow : 0px 0px 6px 0px #00a9f4;
	background-blend-mode : normal;
	transition : 0s;
}
#kart:focus {
	border-style : inset;
	box-shadow : none;
}
/*********************************************************************************************************/
#swBox {
	top : 210px;
	left : 4px;
}
#swBox:hover {
	box-shadow : 0px 0px 6px 0px #ff4000;
	color : #ff4000;
	transition : 0s;
}
#swBox:focus {
	box-shadow : none;
	border-style : inset;
}
#resort {
	top : 310px;
	left : 4px;
}
#resort:hover {
	box-shadow : 0px 0px 6px 0px #03a9f4;
	color : #03a9f4;
	transition : 0s;
}
#resort:focus {
	box-shadow : none;
	border-style : inset;
}
/*********************************************************************************************************/
#boxButt {
	top : 210px;
	left : 4px;
}
#boxButt:hover {
	box-shadow : 0px 0px 6px 0px orange;
	color : orange;
	transition : 0s;
}
#boxButt:focus {
	box-shadow : none;
	border-style : inset;
}