/*
	ctrl
*/
* {
	margin : 0;
	padding : 0;
}
body {
	background-color : gray;
	background-image : url(ibCenter.JPG);
	background-attachment : fixed;
	background-position : center;
	background-size : auto;
	font-family : Courier;
	overflow : hidden;
}
.hidd {
	visibility : hidden;
	transition : 0s;
}
/****************************************************************/
#over {
	position : absolute;
	top : 30px;
	left : 13%;
	font-size : 16px;
	font-weight : bold;
	color : #03a9f4;
}
#gif {
	border-radius : 9px;
	background-image : url(XYMS.gif);
	background-position : center;
	background-size : cover;
	position : absolute;
	width : 600px;
	height : 340px;
	top : 100px;
	left : 150px;
}
/****************************************************************/
#forTime {
	position : absolute;
	background-color : rgba(140, 140, 140, 0);
	width : 100%;
	height : 20px;
}
#time {
	color : #37b5ff;
	font-size : 15px;
	float : left;
}
#point {
	font-size : 16px;
	color : #c3c3c3;
	float : right;
}
/****************************************************************/
#len {
	box-shadow : 2px 4px 6px 0px #000000a2;
	border-radius : 5px;
	background-image : url(ibS.JPG);
	background-attachment : fixed;
	background-repeat : repeat-x;
	background-size : auto;
	display : flex;
	position : absolute;
	top : 30px;
	left : 4px;
	min-width : 0;
	max-width : 98%;
	padding-right : 19px;
	height : 34px;
	border : 1px solid #777777;
	overflow : hidden;
	z-index : 699;
}
section {
	white-space : pre;
	overflow : hidden;
	border-radius : 3px;
	position : relative;
	margin : 0px -20px 0px 0px;
	padding : 1px;
	background-size : cover;
	border : 1px solid black;
	font-size : 0px;
	width : 19px;
	height : 30px;
	top : 0;
}
section.off {
	cursor : pointer;
	background-color : rgba(0, 100, 255, 0.5);
	transform : rotate(-360deg);
	transition : ease-out 2s;
}
section.on {
	background-color : rgba(255, 153, 0, 0.9);
	transform : rotate(0deg);
	transition : 1s;
}
section.section {
	background-color : rgba(0, 250, 31, 0.2);
	transition : 0.3s;
}
section.off:hover {
	background-color : rgba(0, 255, 0, 0.8);
	transition : 0s;
}
/****************************************************************/
#lookLen {
	box-shadow : 2px 4px 6px 0px #000000a2;
	border-radius : 5px;
	background-image : url(ibS.JPG);
	background-size : auto;
	background-attachment : fixed;
	background-repeat : repeat-x;
	display : flex;
	position : absolute;
	top : 67px;
	left : 4px;
	min-width : 0;
	max-width : 98%;
	padding-right : 19px;
	height : 34px;
	border : 1px solid #777777;
	overflow : hidden;
	z-index : 699;
}
section.out {
	box-shadow : inset 0px 0px 5px 0px #0000007a;
	background-image : url(Chirva.jpg);
	top : -100%;
	transition : 0.3s;
}
section.out:hover {
	box-shadow : none;
	transition : 0s;
}
/****************************************************************/
#place {
	box-shadow : inset 0px 0px 11px 0px #000000;
	position : fixed;
	border : 1px inset #696969;
	background-color : rgba(0,0,0,0.5);
	z-index : 997;
	top : 124px;
	left : 200px;
	font-family : Courier;
	font-size : 55px;
	letter-spacing : -2px;
	padding-left : 1px;
	padding-right : 6px;
	border-radius : 9px;
}
#left {
	position : fixed;
	border-radius : 9px;
	z-index : 998;
	top : 124px;
	left : 200px;
}
input#inp {
	font-family : Courier;
	font-size : 55px;
	letter-spacing : -2px;
	padding-left : 1px;
	padding-right : 6px;
	border-radius : 9px;
	background-color : rgba(0,0,0,0.5);
	cursor : none;
	z-index : 99;
	opacity: 0;
}
.wordsInp {
	color : #cbcbcb;
	border : 1px outset #696969;
}
.swInp {
	color : #03a9f4;
	border : 1px outset #696969;
}
.wordsInp:focus {
	box-shadow : inset 0px 0px 12px 0px #000000;
	background : rgba(0,0,0,0);
	outline : none;
	border : 1px inset #696969;
	cursor : none;
	opacity: 1;
}
.swInp:focus {
	box-shadow : inset 0px 0px 12px 0px #000000;
	background : rgba(0,0,0,0);
	outline : none;
	border : 1px inset #696969;
	cursor : none;
	opacity: 1;
}
/****************************************************************/
#right {
	box-shadow : inset 0px 0px 12px 0px #000000;
	overflow : hidden;
	position : fixed;
	background-color : rgba(0,0,0,0.5);
	width : 700px;
	height : 170px;
	padding : 2px;
	font-size : 30px;
	font-style : italic;
	z-index : 90;
	top : 210px;
	left : 200px;
	color : #797979;
	border : 1px solid #444444;
	border-radius : 9px;
	cursor : default;
	transition : cubic-bezier(0.3, 0, 0.45, -0.4) 1.4s;
}
#right.wordsRight {
	color : #ababab;
	transform : perspective(1400px) rotateY(-180deg) rotateX(540deg);
}
#right.swRight {
	color : #03a9f4;
	transform : perspective(1400px) rotateY(180deg) rotateX(540deg);
}
/****************************************************************/
#one {
	display : grid;
	position : fixed;
	width : 100px;
	top : 80px;
	left : -100%;
	z-index : 4;
	transition : ease 1s;
}
#one.onedone {
	left : 80px;
}
#one section {
	font-weight : bold;
	width : 100%;
	height : auto;
	box-shadow : inset 0px 0px 3px 0px #00000087;
	border-radius : 4px;
	font-size : 13px;
	border : 1px inset #505050;
}
.sw {
	background-color : rgba(0, 0, 0, 0.6);
	color : #767676;
	cursor : pointer;
}
.sw:hover {
	color : #000000;
	background-color : rgba(27, 255, 0, 0.6);
}
.swOff {
	background-color : rgba(0, 149, 255, 0.6);
	cursor : pointer;
}
.swMax {
	background-color : rgba(234, 0, 0, 0.55);
	cursor : alias;
}
/****************************************************************/
button {
	box-shadow : none;
	outline-style : none;
	font-weight : bold;
	font-family : Courier;
	transition : 0.6s;
}
#kart {
	background-image : url(o3h.gif);
	background-position : center;
	background-size : cover;
	display : block;
	position : fixed;
	width : 60px;
	height : 45px;
	top : 160px;
	left : 4px;
	border : 1px outset #646464;
	border-radius : 4px;
	cursor : pointer;
	z-index : 6;
}
#kart:hover {
	box-shadow : 4px 4px 4px 0px #000000aa;
}
#kart:focus {
	border : 1px inset #646464;
}
/****************************************************************/
#swBox {
	padding : 2px;
	font-weight : bold;
	background-color : rgba(0, 0, 0, 0.6);
	border : 1px outset #646464;
	border-radius : 4px;
	font-size : 13px;
	color : gray;
	position : fixed;
	width : 100px;
	height : auto;
	top : 130px;
	left : 4px;
	cursor : pointer;
	transition : all 0.5s, color 0s;
}
#swBox:hover {
	box-shadow : 4px 4px 4px 0px #000000aa;
	color : #03a9f4;
	transition : all 0.5s, color 0s;
}
#swBox:focus {
	border : 1px inset #646464;
}
#resort {
	width : 100px;
	background-position : center;
	background-size : cover;
	display : block;
	position : fixed;
	top : 220px;
	left : 4px;
	background-color : rgba(0, 0, 0, 0.6);
	border : 1px outset #646464;
	border-radius : 4px;
	font-size : 13px;
	color : gray;
	padding : 2px;
	cursor : pointer;
	z-index : 645;
	transition : all 0.5s, color 0s;
}
#resort:hover {
	box-shadow : 4px 4px 4px 0px #000000aa;
	color : #03a9f4;
	transition : all 0.5s, color 0s;
}
#resort:focus {
	border : 1px inset #646464;
}
/****************************************************************/
#boxButt {
	box-shadow : none;
	font-weight : bold;
	position : fixed;
	width : 100px;
	height : auto;
	top : 130px;
	left : 4px;
	background-color : rgba(0, 0, 0, 0.6);
	border : 1px outset #646464;
	border-radius : 4px;
	font-size : 13px;
	color : gray;
	padding : 2px;
	cursor : pointer;
	z-index : 4;
	transition : all 0.5s, color 0s;
}
#boxButt:hover {
	box-shadow : 4px 4px 4px 0px #000000aa;
	color : orange;
	transition : all 0.5s, color 0s;
}
#boxButt:focus {
	border : 1px inset #646464;
}