/*
	Top page...
	
	CSS
*/

/**************************************************************************/
* {
	margin : 0;
	padding : 0;
	font-family : Monospace;
	color : #ffa200;
	border-radius : 5px;
}
body {
	background-color : gray;
	/* background-image : url(img/radioA.jpg); */
	background-image : url(img/ibCenter.JPG);
	background-size : cover;
	background-attachment : fixed;
	font-size : 20px;
}
/**************************************************************************/
#navBox {
	/* background-color : #aaaaaa99; */
	position : absolute;
	margin : 10px;
}
.section {
	border : 1px solid #999999;
	padding : 2px;
}
/**************************************************************************/
button {
	background-color : #00000000;
	background-size : contain;
	background-repeat : no-repeat;
	position : fixed;
	border-width : 0px;
	right : 20px;
	width : 140px;
	height : 140px;
}
button#upBut {
	background-image : url(img/Up.ico);
	top : 40px;
}
button#downBut {
	background-image : url(img/Down.ico);
	top : 180px;
}
/**************************************************************************/
#pre {
	
	font-size : 30px;
}
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/